
@{
    ViewBag.Title = "Index";
}

<h2>Dashboard</h2>


<h3>Welcome @WebSecurity.CurrentUserName </ h3 >

@*<p>
        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
        {
        @Html.ActionLink("Register New User","Register","Account")
        }
    </p>*@

@*<p>
    @Html.ActionLink("Change Password", "ChangePassword", "Account")
</p>

<div>
    @Html.ActionLink("Back to List", "Index", "Account")
</div>*@

